{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}

{% block substylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>{% endblock %}

{% block body_class %}position-relative{% endblock %}

{% block body %}
    <form method="post" class="form-login">

        <div class="text-center mb-0">
            <object type="image/svg+xml"
                    data="{{ asset('img/logo.png') }}"
                    width="256px"
                    height="256px">
                <img src="{{ asset('img/logo.png') }}" alt="Система адаптации IT-специалистов">
            </object>
        </div>


        <div class="text-center mb-4">
            <div class="header-user__title">
                <span class="form-label-title-blue">Система адаптации</span>
                <span class="form-label-title-blue">IT-специалистов</span>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-label-group">
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   autocomplete="username" required autofocus placeholder="Имя пользователя...">
            <label for="inputUsername">Имя пользователя</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password"
                   required placeholder="Пароль...">
            <label for="inputPassword">Пароль</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Запомнить меня
            </label>
        </div>

        <button class="btn btn-lg btn-first btn-block" type="submit">Войти</button>

        <div class="position-absolute text-muted text-small" style="bottom: 40px;
        left: 0;
        right: 0;
        text-align: center;">
            Данные для входа:<br>
            Роль пользователя <code>user</code> - <code>test</code><br>
            Роль наставника <code>teacher</code> - <code>test</code><br>
            Роль руководителя <code>admin</code> - <code>test</code><br>
        </div>


    </form>

{% endblock %}

{% block test %}

{% endblock %}