{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}

{% block substylesheets %}
    <link rel="stylesheet" href="{{ asset('css/map.css') }}"/>
    <script>
        $(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="card p-3">
        {% set i = 0 %}
        <ul class="menu-list">
            {% for evn in events %}
                <li class="menu-item item-{{ evn.typEvent }}">
                    <span class="menu-wrapper" data-toggle="modal" data-target="#delProfModal">
                        <a href="{{ evn.link }}" id="btn-tooltip" data-toggle="tooltip"
                           class="menu-link-{{ evn.status }}"
                         title = "{{ evn.eventfull }} ({{ evn.countBall }} баллов)">{{ evn.name }}</a>
                    </span>
                </li>
                {% set i = i + 1 %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}