{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block substylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          xmlns="http://www.w3.org/1999/html">

    <link rel="stylesheet" href="{{ asset('css/card.css') }}"/>
{% endblock %}

{% block body %}
    <hr width="100%" align="left" size="5">
    <div class="row mb-2">

        {% for user in users %}

        <div class="col-md-3">
            <div class="usercard">
                <p class="fio">{{user.fio }}</p>
                <img src="/img/users/{{ user.img }}" style="width:80%">
                <p class="usertitle">{{ user.depart }}</p>
                <p class="usertitlepost">{{ user.post }}</p>
                <div class="d-flex" style="margin-left: 24px;">
                    <a><i class="fa fa-phone text-info"> </i></a>
                    <span style="margin-left: 5px">{{ user.phone }}</span>
                </div>
                <div class="d-flex" style="margin-left: 24px; margin-bottom: 10px">
                    <a><i class="fa fa-envelope-open text-info"> </i></a>
                    <span style="margin-left: 5px; margin-bottom: 20px">{{ user.email }}</span>
                </div>
                <hr width="100%" align="left" size="5">
                <p class="usertitlepost">Уровень адаптации</p>
                <div class="container1">
                    <div class="skills1 html"
                         style="width: {{ (user.cnty / (user.cnt) * 100) // 1 }}%;">
                        {{ (user.cnty / (user.cnt) * 100) // 1 }} %
                    </div>
                </div>
                <div>
                    <p style="margin-top: 20px;">Выполнено {{ user.cnty }} из {{ user.cnt }} заданий</p>
                </div>

            </div>
        </div>
        {% endfor %}

        <div class="nav-tabs-custom">
            <p class="usertitlepost">Ближайшие события</p>
            <div class="tab-content">
                <div class="tab-pane active" id="timeline">
                    <ul class="timeline timeline-inverse">
                        {% set i = 0 %}
                        {% set dt = '' %}
                        {% for evn in events %}
                            {% if i < 11 %}
                                {% if dt != evn.date|date('d.m.Y') %}
                                    <li class="time-label">
                                        <span class="bg-red" style="padding-right: 0;">{{ evn.date|date('d.m.Y') }}</span>
                                        {#<span class="bg-red">{{ evn.name }}</span>#}
                                    </li>
                                {% endif %}

                                <li>
                                    <div class="timeline-item">
                                        <div class="timeline-body">
                                            <span class="dayNumber"></span>
                                            <div class="timeline-description">{{ evn.event }}</div>
                                        </div>
                                    </div>
                                </li>

                                {% set dt = evn.date|date('d.m.Y') %}
                            {% endif %}
                            {% set i = i + 1 %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}