<div class="dropdown open">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        =
    </button>
    <div class="dropdown-menu main-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item list-group-item-info" href="{{ path('teacher_team') }}">Сотрудники</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('teacher_grid') }}">Документы</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('teacher_project') }}">Текущие проекты</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('teacher_calendar') }}">Календарь событий</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('teacher_set_profile') }}">Назначение плана сотруднику</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('teacher_profile') }}">Настройка профилей адаптации</a>
    </div>
</div>