<div class="dropdown open">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        =
    </button>
    <div class="dropdown-menu main-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item list-group-item-info" href="{{ path('user_grid') }}">Документы</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_team') }}">Наша команда</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_project') }}">Текущие проекты</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_testing') }}">Тестирование</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_calendar') }}">Календарь событий</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_map') }}">Карта адаптации</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_gift') }}">Выбор подарков</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_idea') }}">Идеи и предложения</a>
    </div>
</div>