{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block substylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          xmlns="http://www.w3.org/1999/html">

    <link rel="stylesheet" href="{{ asset('css/card.css') }}"/>
{% endblock %}

{% block body %}
    <hr width="100%" align="left" size="5">
    <div class="row mb-2">
        <div class="col-md-3">
            <div class="usercard">
                <p class = "fio">{{ app.user.psbUser.fio }}</p>
                <img src="/img/users/{{ app.user.psbUser.img }}" style="width:80%">
                <p class="usertitle">{{ app.user.psbUser.depart.name }}</p>
                <p class="usertitlepost">{{ app.user.psbUser.post.name }}</p>
                <div class="d-flex" style="margin-left: 24px;">
                    <a><i class="fa fa-phone text-info"> </i></a>
                    <span style="margin-left: 5px">{{ app.user.psbUser.phone }}</span>
                </div>
                <div class="d-flex" style="margin-left: 24px; margin-bottom: 10px">
                    <a><i class="fa fa-envelope-open text-info"> </i></a>
                    <span style="margin-left: 5px; margin-bottom: 20px">{{ app.user.psbUser.email }}</span>
                </div>
{#                <p style="color: #747F8B; background: #747F8B">-</p>#}
            </div>
        </div>
        <div class="col-md-9">
            <div class="usercard">
                <p class = "fio">{{ manager.fio }}</p>
                <div class="row mb-2">
                    <div class="col-md-2">
                        <img src="/img/users/{{ manager.img }}" style="width:80px; higth:80px ">
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <small class="mb-1">
                                <span class="usertitle">{{ manager.depart.name }}</span> <br>
                            </small>
                        </div>
                        <div class="d-flex">
                            <p class = "usertitlepost">Руководитель</p>
                        </div>
                        <div class="d-flex">
                            <a><i class="fa fa-phone text-info"> </i></a>
                            <span style="margin-left: 5px">{{ manager.phone }}</span>
                        </div>
                        <div class="d-flex" style="margin-bottom: 10px">
                            <a><i class="fa fa-envelope-open text-info"> </i></a>
                            <span clas="email" style="margin-left: 5px"><a href="mailto:">{{ manager.email }}</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="usercard">
                <p class = "fio">{{ teacher.fio }}</p>
                <div class="row mb-2">
                    <div class="col-md-2">
                        <img src="/img/users/{{ teacher.img }}" style="width:80px; higth:80px ">
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex">
                            <small class="mb-1">
                                <span class="usertitle">{{ teacher.depart.name }}</span> <br>
                            </small>
                        </div>
                        <div class="d-flex">
                        <p class="usertitlepost">Наставник</p>
                        </div>
                        <div class="d-flex">
                            <a><i class="fa fa-phone text-info"> </i></a>
                            <span style="margin-left: 5px">{{ teacher.phone }}</span>
                        </div>
                        <div class="d-flex" style="margin-bottom: 10px">
                            <a><i class="fa fa-envelope-open text-info"> </i></a>
                            <span class="email" style="margin-left: 5px"><a href="mailto:">{{ teacher.email }}</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="usercard p-3">
                <p class="usertitlepost">Уровень прохождения плана обучения</p>
                <div class="container1">
                    <div class="skills1 html"
                         style="width: {{ (status[0]['cnty'] / (status[0]['cnt']) * 100) // 1 }}%;">
                        {{ (status[0]['cnty'] / (status[0]['cnt']) * 100) // 1 }} %
                    </div>
                </div>
                <div>
                    <p style="margin-top: 20px;">Выполнено {{ status[0]['cnty'] }} из {{ status[0]['cnt'] }} заданий</p>
                </div>
            </div>

{#            <div class="usercard p-3">
                <p style="color: #1c1b7d;"><b>Ближайшие события</b></p>
                <div class="d-flex">
                    <h6 style="color: #1c1b7d; align-content: flex-end">04.12.2021</h6>
                </div>
                <div class="d-flex">
                    <p>{{ events[0]['event'] }} </p>
                </div>
                <div class="d-flex">
                    <h6 style="color: #1c1b7d; align-content: flex-end">05.12.2021</h6>
                </div>
                <div class="d-flex">
                    <p>{{ events[1]['event'] }} </p>
                </div>
                <div class="d-flex">
                    <h6 style="color: #1c1b7d; align-content: flex-end">07.12.2021</h6>
                </div>
                <div class="d-flex">
                    <p>{{ events[2]['event'] }} </p>
                </div>
            </div>#}

            <div class="nav-tabs-custom">
                <p class="usertitlepost">Ближайшие события</p>
                <div class="tab-content">
                    <div class="tab-pane active" id="timeline">
                        <ul class="timeline timeline-inverse">
                            {% set i = 0 %}
                            {% for evn in events %}
                                {% if i < 4 %}
                                    <li class="time-label">
                                        <span class="bg-red" style="padding-right: 0;">{{ evn.date|date('d.m.Y') }}</span>
                                        <span class="bg-red">{{ evn.name }}</span>
                                    </li>
                                    <li>
                                        <div class="timeline-item">
                                            <div class="timeline-body">
                                                <span class="dayNumber"></span>
                                                <div class="timeline-description">{{ evn.event }}</div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                                {% set i = i + 1 %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}